body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;  


}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat';
    font-weight: 700;
}


h3{
    font-size: 1.2rem;
    color: #343A40;
}

p{
    color: #8f8f8f;

}

/*heading section */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    color: #fff;

}
.section-heading{
    line-height: 1.5;
    font-size: 2.5rem;
}



#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: 400;
}
.navbar{
    padding:  0 0 4rem;
}
.iphone-img{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
    
}
.download-btn{
    margin: 5% 3% 5% 2%;
}


.features-heading{
    font-size: 1.2rem;
    color: #343A40;
}
#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.features-box{
    padding: 5%;  
}

.features-icon{
    color: #ef8172;
    margin-bottom: 1rem;

}
.features-icon:hover{
    color: #ff4c68;
}


/*
 .features-heading{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 600;
}*/
 .fe-desc{
    color: #8f8f8f;
}


#testimonials{
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-profile{
    color: #fff;
}
.testimonial-text{
    line-height: 1.5;
    font-size: 2.5rem;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.presslogo{
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item{
    padding: 7% 15%;

}
.btn-danger{
    background-color: #ef8172;
    border-color: #ef8172 ;
}

.btn-danger:hover{
    background-color: #ff4c68;
    border-color: #ff4c68 ;


}

/* price section */

#pricing{
    padding: 100px;

}
.price-text{
    line-height: 1.5;
    font-size: 2.5rem;
}

.pricing-column{
    padding: 3% 2%;
}



@media (max-width:991px){
    .iphone-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    .price-text{
        line-height: 1.5;
        font-size: 1.5rem;
    }
    .big-heading{
        font-size: 2.5rem;

    }
    .testimonial-text{
        line-height: 1.5;
        font-size: 1.5rem;
    }

}

#cta{
    background-color: #ff4c68;
    padding: 3% 7%;
}

    

#footer{
    padding: 5% 15%;
}
.social-icon{
    padding: 20px 10px;
}
